.movie-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.movie-results {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */
  padding-top: 35px;
}

.movie-results-text {
  padding-left: 100px;
  color: black;
  font-size: 45px;
  background-color: white;
}

a {
  text-decoration: none;
}